{% extends 'index.html' %}
{% load static %}

<head>
  {% block title %}
    환율
  {% endblock %}

  {% block css %}
    <link rel="stylesheet" href="{% static 'libs/apex-charts/apex-charts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/core/color.css' %}"/>

  {% endblock %}

  {% block js %}
    <script defer="defer" src="{% static 'libs/apex-charts/apexcharts.js' %}"></script>
    <script defer="defer" src="{% static 'js/chart.js' %}"></script>
  {% endblock %}
</head>

<body>
  {% block header %}
    {% include "back-menu.html" %}
  {% endblock %}

  {% block content %}
    <div class="nav-align-top mb-4">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="chart" role="tabpanel">
          <!-- Total Balance -->
          <div class="col-md-12 mb-1">
            <div class="card-header d-flex align-items-center justify-content-between p-0 pb-3">
              <h5 class="card-title m-0 me-2">{{ country.name }}</h5>
              {% if watch %}
                <div class="btn px-0 py-0">
                  <i v-on:click="setHeart" data-watch="true" class="bx bxs-heart bx-sm light-red"></i>
                </div>
                {% else%}
                <div class="btn px-0 py-0">
                  <i v-on:click="setHeart" data-watch="false" class="bx bxs-heart bx-sm silver"></i>
                </div>
              {% endif %}

            </div>
            <div class="card-body p-0">
              <div class="d-flex justify-content-start">
                <div class="d-flex">
                  <div class="me-3">
                    <span class="badge bg-label-secondary p-2">
                      <i class="bx bx-won text-secondary"></i>
                    </span>
                  </div>
                  <div>
                    <h6 class="mb-0" >[[price]]</h6>
                    <small v-html="fluctuation"></small>
                  </div>
                </div>
              </div>
              <div id="chartEl"></div>
            </div>
          </div>
          <!--/ Total Balance -->
        </div>
        <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel"></div>
      </div>
    </div>
  </div>
{% endblock %}
</body>