{% extends 'index.html' %}
{% load static %}

<head>
  {% block title %}
    환율
  {% endblock %}

  {% block css %}
    <link rel="stylesheet" href="{% static 'libs/apex-charts/apex-charts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/core/color.css' %}"/>
  {% endblock %}

  {% block js %}
    <script defer="defer" src="{% static 'libs/apex-charts/apexcharts.js' %}"></script>
    <script defer="defer" type="module" src="{% static 'js/currency/vue.js' %}"></script>

<!--    <script defer="defer" src="{% static 'js/chart.js' %}"></script>-->
<!--    <script defer="defer" src="{% static 'js/watch.js' %}"></script>-->
<!--    <script defer="defer" src="{% static 'js/alert.js' %}"></script>-->

  {% endblock %}
</head>

<body>
  {% block header %}
    {% include "back-menu.html" %}
  {% endblock %}

  {% block content %}
    <div class="nav-align-top mb-4">
      <div class="tab-content">
        <div class="tab-pane fade show active" role="tabpanel">
          <!-- Total Balance -->
          <div class="col-md-12 mb-1">
            <div class="card-header d-flex align-items-center justify-content-between p-0 pb-3">
              <h5 class="card-title m-0 me-2">{{ country.name }}</h5>
                <div class="btn px-0 py-0">
                  <span class="m-2">
                    <button class="btn px-0" type="button" data-bs-toggle="modal" data-bs-target="#enableOTP">
                      <i data-alert="true" class="bx bxs-bell bx-sm silver"></i>
                    </button>
                  </span>
                  <span class="m-2" id="watch">
                  {% if watch %}
                    <i v-on:click="watchFuncs.setHeart" data-watch="true" class="bx bxs-heart bx-sm light-red"></i>
                  {% else%}
                    <i v-on:click="watchFuncs.setHeart" data-watch="false" class="bx bxs-heart bx-sm silver"></i>
                  {% endif %}
                  <span>
                </div>
            </div>
            <div class="card-body p-0">
              <div class="d-flex justify-content-start">
                <div class="d-flex">
                  <div class="me-3">
                    <span class="badge bg-label-secondary p-2">
                      <i class="bx bx-won text-secondary"></i>
                    </span>
                  </div>
                  <div>
                    <h6 class="mb-0" >[[chartVars.price.value]]</h6>
                    <small v-html="chartVars.fluctuation.value"></small>
                  </div>
                </div>
              </div>
              <div id="chartEl"></div>
            </div>
          </div>
          <!--/ Total Balance -->
        </div>
        <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel"></div>
      </div>
    </div>
  </div>
  <!-- Enable OTP Modal -->
  <div class="modal fade" id="enableOTP" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-simple modal-enable-otp modal-dialog-centered">
      <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4">
            <h3 class="mb-5">Enable One Time Password</h3>
          </div>
          <h6>Verify Your Mobile Number for SMS</h6>
          <p>Enter your mobile phone number with country code and we will send you a verification code.</p>
          <form id="enableOTPForm" class="row g-3" onsubmit="return false">
            <div class="col-12">
              <label class="form-label" for="modalEnableOTPPhone">Phone Number</label>
              <div class="input-group input-group-merge">
                <span class="input-group-text">+1</span>
                <input
                  type="text"
                  id="modalEnableOTPPhone"
                  name="modalEnableOTPPhone"
                  class="form-control phone-number-otp-mask"
                  placeholder="202 555 0111"
                />
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
              <button
                type="reset"
                class="btn btn-label-secondary"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Enable OTP Modal -->

{% endblock %}
</body>