{% extends 'index.html' %}
{% load static %}

<head>
    {% block title %}
    환율 알리미
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/icon/flag-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/apex-charts/apex-charts.css' %}" />
    

    {% endblock %}

    {% block js %}
    <script defer src="{% static 'libs/apex-charts/apexcharts.js' %}"></script>
    <script defer src="{% static 'js/chart.js' %}"></script>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="nav-align-top mb-4">
      <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
          <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#navs-justified-home"
            aria-controls="navs-justified-home"
            aria-selected="true"
          >
              
          </svg>
            <i class="fi fi-us  me-2"></i> 미국
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#navs-justified-profile"
            aria-controls="navs-justified-profile"
            aria-selected="false"
          >
            <i class="tf-icons bx bx-user"></i> Profile
          </button>
        </li>
      </ul>
    
    </div>
    {% endblock %}
</body>