{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>
    
    <!-- Core CSS -->
    
    <link rel="stylesheet" href="{% static 'css/core/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'css/core/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'css/core/demo.css' %}" />

    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>

<body>
    {% include "menu.html" %}
    {% if request.user.is_authenticated %}
        <p>{{ request.user.email }}</p>
        
    {% else %}
        
    {% endif %}

    {% block body %}
    {% endblock %}
</body>

</html>